/// <summary>
/// Provides instructions for downloading the template file for the Windows 10 version of the Optimizer application.
/// Users should obtain the template file from the specified GitHub repository location.
/// </summary>

1. **Download the Template**: Obtain the template file for your Windows version:https://github.com/hellzerg/optimizer/blob/master/templates/template-windows10.json
<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
</packages>